<div class="btns-contaner">

  <button mat-raised-button class="infoBtn" (click)="info()">Info</button>
  <button mat-raised-button class="successBtn" (click)="success()">Success</button>
  <button mat-raised-button class="warningBtn" (click)="warning()">Warning</button>
  <button mat-raised-button class="errorBtn" (click)="error()">Error</button>

</div>

<div class="btns-contaner">

  <button mat-raised-button class="infoBtn" (click)="snackInfo()">Info</button>
  <button mat-raised-button class="successBtn" (click)="snackSuccess()">Success</button>
  <button mat-raised-button class="warningBtn" (click)="snackWarning()">Warning</button>
  <button mat-raised-button class="errorBtn" (click)="snackError()">Error</button>

</div>
